@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: lavender;
}

/* headings and logo */
h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2b2a2a;
}

.active {
    border-bottom: 1px solid #2b2a2a;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: aqua
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero\ image.jpg) no-repeat center center;
}

#cover-text {
    font-size: 100%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 350px;
    height: 75px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: #2d0830;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#cover-text>h3 {
    color: aqua;
    text-transform: lowercase;
}

/* intro-text */

#intro-text {
    font-size: 110%;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

/* about-us */
#about-image {
    height: 80px;
    width: 100%;
    background: url(../images/hero\ image.jpg) no-repeat center center;
}

#about-us {
    font-size: 110%;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

#about-us footer {
    height: 100px;
    margin-bottom: 50px;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

/* gallery photos */
#photos img {
    width: 100%;
}

/* Form */

.form-section {
    clear: left;
    background: url(../images/blue\ and\ white.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: fixed;
    left: 50%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: aquamarine;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid aquamarine;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #2d0830;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #2b2a2a;
    color: #2b2a2a;
}

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 130%;
    margin: 1%;
    padding: 5%;
    color: #2d0830;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #inte-text {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #intro-text {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
}

#photo {
    column-count: 3;
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #photo {
        column-count: 2;
    }
}